.side_bar
 .side_header
  .user_box
   .user_name
    ユーザー名
   .icon
    = link_to '#' do
     = icon('fas', 'edit')
    = link_to '#' do
     = icon('fas', 'cog')

 .group_list
  .group_box
   .group_name
    グループ名
   .last_message
    まだメッセージがありません

  .group_box
   .group_name
    グループ名
   .last_message
    まだメッセージがありません

  .group_box
   .group_name
    グループ名
   .last_message
    まだメッセージがありません